doctype html
html
  head
    title= title
    link(rel='stylesheet', href='assets/css/styles.css')
    link(rel='stylesheet', href='node_modules/swiper/dist/css/swiper.min.css')
 
  body
    block content